body {
  background-color: #1a1a1a;
  color: white;
  font-family: "Arial", sans-serif;
}
a {
  gap: 10px;
  background-color: #1a1a1a;
  display: inline-flex;
  text-decoration: none;
  padding: 60px;
  border-radius: 30px;
  border: solid;
  border-color: white;
  color: white;
}
div {
  max-width: 600px;
}
img {
  max-width: 200px;
}

/* 🦊 Compléter les styles de votre teaser  */
